h1,
h3 {
  display: block;
  text-align: center;
}

h1 {
  padding-top: 10px;
  font-size: 30px !important;
}

h2,
h4,
h2 i {
  display: inline-block;
}

h2,
h5 {
  font-size: 20px !important;
}

h2 i {
  font-size: 18px;
}

h3 {
  font-size: 18px !important;
}

h4 {
  font-size: 62px !important;
  padding-left: 43px;
}

p a {
  color: #392d83;
  text-decoration: none;
  transition: all 2ms ease-in-out;
  margin-top: -50px;
}

hr {
  color: #1b115f !important;
  height: 2px !important;
  width: 80%;
}

.city-name,
h4,
small p {
  text-align: center;
}

.weather-app {
  max-width: 400px;
  margin: 100px auto;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 5px;
  background-color: #98c4e7;
  box-shadow: 0 0 40px rgba(109, 103, 103, 0.637);
}

.search-bar {
  width: 90%;
  margin: 20px;
  padding-top: 10px;
  border: none;
}

.current-btn,
.search-btn {
  margin-left: 10px !important;
}

.btn:hover {
  background: #1076a5 !important;
  color: white !important;
  border: white !important;
}

.weather-now {
  color: white;
}

.temp-units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

span a {
  text-decoration: none;
  color: #fff;
}

.temp-units .active {
  cursor: default;
  color: rgba(109, 103, 103, 0.637);
}

.weather-future {
  background: rgb(243, 195, 91);
  color: black;
}

.weather-now-icon {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.weather-decription {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.current-temps p {
  text-align: center;
  font-size: 25px;
  padding-left: 20px;
}

.max-temp {
  position: relative;
  right: 15px;
}

.details p {
  margin: 0;
}

.dates p,
.future-temperatures p,
.weather-decription {
  display: block;
  text-align: center;
}

.future-temperatures p {
  font-size: 15px;
}

.weather-icon {
  width: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 10px;
}

.current-location {
  font-size: 8px;
}
